<head>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
        href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet" />
</head>

<div class="bg-gradient-connection-failed">
    <div class="content-container">
        <div class="left-content">
            <h1>Oops!</h1>
            <h3>Unable to Connect to the Server</h3>
            <p>Please contact your administrator for assistance.</p>
            <div class="btn" (click)="checkServer()">Try again</div>
        </div>
        <div class="right-content"></div>
    </div>
</div>
