<div class="login-form" [@routerTransition]>
    <div class="pb-13 pt-lg-0 pt-5">
        <h3>
            {{ 'VerifyPasswordlessCode' | localize }}
        </h3>
    </div>
    <p class="pb-5">{{ 'ConfirmationPasswordlessCodeSentTo' | localize: selectedProviderInputValue }}</p>
    <form #passwordlessLoginCodeForm="ngForm" class="login-form form" method="post" (ngSubmit)="submit()">
        <div class="mb-5">
            <input
                #passwordlessCodeInput="ngModel"
                autoFocus
                [(ngModel)]="passwordlessCode"
                class="form-control form-control-solid h-auto py-7 px-6 rounded-lg fs-h6"
                type="text"
                autocomplete="passwordlessCode"
                placeholder="{{ 'Code' | localize }} *"
                name="passwordlessCode"
                required
                maxlength="6" />
            <validation-messages [formCtrl]="passwordlessCodeInput"></validation-messages>
        </div>

        <div class="pb-lg-0 pb-5">
            <button
                type="submit"
                class="btn btn-primary fw-bolder fs-h6 px-8 py-4 my-3 me-3"
                [disabled]="!passwordlessLoginCodeForm.form.valid">
                {{ 'Submit' | localize }}
            </button>
            @if (remainingSeconds >= 0) {
                <span class="remaining-time-counter ml-5">
                    {{ 'RemainingTime' | localize }}: {{ 'SecondShort{0}' | localize: remainingSeconds }}.
                </span>
            }
        </div>
    </form>
</div>
