@using Abp.AspNetZeroCore.Timing
@using Abp.Web.Security.AntiForgery
@using Analision.Web.Public.Views.Shared.Components.Header
@using CultureHelper = Analision.Localization.CultureHelper
@inject AppTimes AppTimes
@inject IAbpAntiForgeryManager AbpAntiForgeryManager
@{
    Layout = null;
    AbpAntiForgeryManager.SetCookie(Context);
}

<!DOCTYPE html>
<html lang="en" @(CultureHelper.IsRtl ? "dir=\"rtl\"" : "")>
	<!--begin::Head-->
	<head><base href=""/>
		<title>Analision</title>
		<meta charset="utf-8" />
		<meta name="description" content="Analision" />
		<meta name="keywords" content="Analision" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<meta property="og:locale" content="en_US" />
		<meta property="og:type" content="article" />
		<meta property="og:title" content="Analision" />
		<meta property="og:url" content="Analision" />
		<meta property="og:site_name" content="Analision" />
		<link rel="canonical" href="Analision" />
		<link rel="shortcut icon" href="~/favicon.ico" />
		<!--begin::Fonts-->
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inter:300,400,500,600,700" />
		<!--end::Fonts-->
		<!--begin::Global Stylesheets Bundle(used by all pages)-->
		<link href="~/metronic/assets/plugins/global/plugins.bundle.css" rel="stylesheet" type="text/css" />
		<link href="~/metronic/assets/css/style.bundle.css" rel="stylesheet" type="text/css" />
		<link rel="stylesheet" href="~/view-resources/Views/_Bundles/frontend-libs@(CultureHelper.IsRtl ? "-rtl" : "").min.css" asp-append-version="true" />
		<link href="~/Common/_Bundles/common-styles.min.css" rel="stylesheet" type="text/css" />

		@await RenderSectionAsync("Styles", false)


		<script type="text/javascript">
			@* This is used to get the application's root path from javascript.
				It's useful if you're running application in a virtual directory under IIS. *@
				var abp = abp || {}; abp.appPath = '@ApplicationPath';
		</script>
		<!--end::Global Stylesheets Bundle-->
	</head>
	<!--end::Head-->
	<!--begin::Body-->
	<body id="kt_body" data-bs-spy="scroll" data-bs-target="#kt_landing_menu" class="bg-white position-relative app-blank">
		<!--begin::Theme mode setup on page load-->
		<script>var defaultThemeMode = "light"; var themeMode; if ( document.documentElement ) { if ( document.documentElement.hasAttribute("data-theme-mode")) { themeMode = document.documentElement.getAttribute("data-theme-mode"); } else { if ( localStorage.getItem("data-theme") !== null ) { themeMode = localStorage.getItem("data-theme"); } else { themeMode = defaultThemeMode; } } if (themeMode === "system") { themeMode = window.matchMedia("(prefers-color-scheme: dark)").matches ? "dark" : "light"; } document.documentElement.setAttribute("data-theme", themeMode); }</script>
		<!--end::Theme mode setup on page load-->
		<!--begin::Root-->
		<div class="d-flex flex-column flex-root" id="kt_app_root">

			@await Component.InvokeAsync(typeof(HeaderViewComponent), new { currentPageName = ViewBag.CurrentPageName })

			@RenderBody()

			@await Html.PartialAsync("~/Views/Layout/_Footer.cshtml")

		</div>
		<!--end::Root-->

		<!--end::Engage toolbar-->
		<!--begin::Scrolltop-->
		<div id="kt_scrolltop" class="scrolltop" data-kt-scrolltop="true">
			<!--begin::Svg Icon | path: icons/duotune/arrows/arr066.svg-->
			<span class="svg-icon">
				<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
					<rect opacity="0.5" x="13" y="6" width="13" height="2" rx="1" transform="rotate(90 13 6)" fill="currentColor" />
					<path d="M12.5657 8.56569L16.75 12.75C17.1642 13.1642 17.8358 13.1642 18.25 12.75C18.6642 12.3358 18.6642 11.6642 18.25 11.25L12.7071 5.70711C12.3166 5.31658 11.6834 5.31658 11.2929 5.70711L5.75 11.25C5.33579 11.6642 5.33579 12.3358 5.75 12.75C6.16421 13.1642 6.83579 13.1642 7.25 12.75L11.4343 8.56569C11.7467 8.25327 12.2533 8.25327 12.5657 8.56569Z" fill="currentColor" />
				</svg>
			</span>
			<!--end::Svg Icon-->
		</div>
		<!--end::Scrolltop-->
		<!--begin::Javascript-->
		<script src="~/view-resources/Views/_Bundles/frontend-libs.min.js" asp-append-version="true"></script>

		<script type="text/javascript">
			abp.localization.defaultSourceName = '@LocalizationSourceName';
			abp.security.antiForgery.tokenCookieName = "Public-XSRF-TOKEN";
			abp.security.antiForgery.tokenHeaderName = "Public-X-XSRF-TOKEN";
		</script>

		<!-- Dynamic scripts of ABP system (They are created on runtime and can not be bundled) -->
		<script src="~/AbpScripts/GetScripts?_v=@AppTimes.StartupTime.Ticks" type="text/javascript"></script>

		<script>var hostUrl = "metronic/assets/";</script>
		<!--begin::Global Javascript Bundle(used by all pages)-->
		<script src="~/metronic/assets/plugins/global/plugins.bundle.js"></script>
		<script src="~/metronic/assets/js/scripts.bundle.js"></script>
		<!--end::Global Javascript Bundle-->
		<!--begin::Vendors Javascript(used by this page)-->
		<script src="~/metronic/assets/plugins/custom/fslightbox/fslightbox.bundle.js"></script>
		<script src="~/metronic/assets/plugins/custom/typedjs/typedjs.bundle.js"></script>
		<!--end::Vendors Javascript-->
		<!--begin::Custom Javascript(used by this page)-->
		<script src="~/metronic/assets/js/custom/landing.js"></script>
		<script src="~/metronic/assets/js/custom/pages/pricing/general.js"></script>
		<!--end::Custom Javascript-->
		<!--end::Javascript-->
	</body>
	<!--end::Body-->
</html>