<div [@routerTransition]>
    <sub-header [title]="'Editions' | localize" [description]="'EditionsHeaderInfo' | localize">
        <div role="actions">
            @if ('Pages.Editions.Create' | permission) {
                <button class="btn btn-primary" (click)="createEdition()">
                    <i class="fa fa-plus btn-md-icon"></i>
                    <span class="d-none d-md-inline-block">
                        {{ 'CreateNewEdition' | localize }}
                    </span>
                </button>
            }
        </div>
    </sub-header>

    <div [class]="containerClass">
        <div class="card card-custom gutter-b">
            <div class="card-body">
                <div class="row align-items-center">
                    <!--<Primeng-TurboTable-Start>-->
                    <div class="col primeng-datatable-container" [busyIf]="primengTableHelper.isLoading">
                        <p-table
                            #dataTable
                            (onLazyLoad)="getEditions()"
                            [value]="primengTableHelper.records"
                            rows="{{ primengTableHelper.defaultRecordsCountPerPage }}"
                            [paginator]="false"
                            [lazy]="true"
                            [tableStyle]="{ 'min-width': '50rem' }">
                            <ng-template #header>
                                <tr>
                                    <th
                                        style="width: 130px"
                                        [hidden]="!(['Pages.Editions.Edit', 'Pages.Editions.Delete'] | permissionAny)">
                                        {{ 'Actions' | localize }}
                                    </th>
                                    <th>
                                        {{ 'EditionName' | localize }}
                                    </th>
                                    <th>
                                        {{ 'Price' | localize }}
                                    </th>
                                    <th>
                                        {{ 'IsTrialActive' | localize }}
                                    </th>
                                    <th>
                                        {{ 'WaitingDayAfterExpire' | localize }}
                                    </th>
                                    <th>
                                        {{ 'ExpiringEdition' | localize }}
                                    </th>
                                </tr>
                            </ng-template>
                            <ng-template #body let-record="$implicit">
                                <tr>
                                    <td style="width: 130px; text-align: center">
                                        <div class="btn-group" dropdown placement="bottom left" container="body">
                                            <button
                                                id="dropdownButton"
                                                type="button"
                                                class="btn btn-primary btn-sm dropdown-toggle"
                                                dropdownToggle
                                                aria-controls="dropdownMenu">
                                                <i class="fa fa-cog"></i>
                                                <span class="caret"></span>
                                                {{ 'Actions' | localize }}
                                            </button>
                                            <ul
                                                id="dropdownMenu"
                                                class="dropdown-menu"
                                                role="menu"
                                                *dropdownMenu
                                                aria-labelledby="dropdownButton">
                                                @if ('Pages.Editions.Edit' | permission) {
                                                    <li role="menuitem">
                                                        <a
                                                            href="javascript:;"
                                                            class="dropdown-item"
                                                            (click)="editEditionModal.show(record.id)">
                                                            {{ 'Edit' | localize }}
                                                        </a>
                                                    </li>
                                                }

                                                @if ('Pages.Editions.Delete' | permission) {
                                                    <li role="menuitem">
                                                        <a
                                                            href="javascript:;"
                                                            class="dropdown-item"
                                                            (click)="deleteEdition(record)">
                                                            {{ 'Delete' | localize }}
                                                        </a>
                                                    </li>
                                                }

                                                @if ('Pages.Editions.MoveTenantsToAnotherEdition' | permission) {
                                                    <li role="menuitem">
                                                        <a
                                                            href="javascript:;"
                                                            class="dropdown-item"
                                                            (click)="moveTenantsToAnotherEditionModal.show(record.id)">
                                                            {{ 'MoveTenantsToAnotherEdition' | localize }}
                                                        </a>
                                                    </li>
                                                }
                                            </ul>
                                        </div>
                                    </td>
                                    <td>
                                        {{ record.displayName }}
                                    </td>
                                    <td>
                                        @if (record.monthlyPrice || record.annualPrice) {
                                            <span>
                                                {{ appSession.application.currencySign }}{{ record.monthlyPrice }}
                                                {{ 'Monthly' | localize }}
                                                /
                                                {{ appSession.application.currencySign }}{{ record.annualPrice }}
                                                {{ 'Annual' | localize }}
                                            </span>
                                        }
                                        @if (!record.monthlyPrice && !record.annualPrice) {
                                            <span>
                                                {{ 'Free' | localize }}
                                            </span>
                                        }
                                    </td>
                                    <td>
                                        @if (record.trialDayCount) {
                                            <span>
                                                {{ 'Yes' | localize }}, {{ record.trialDayCount }}
                                                {{ 'Days' | localize }}
                                            </span>
                                        }
                                        @if (!record.trialDayCount) {
                                            <span>
                                                {{ 'No' | localize }}
                                            </span>
                                        }
                                    </td>
                                    <td>
                                        {{ record.waitingDayAfterExpire }}
                                    </td>
                                    <td>
                                        {{ record.expiringEditionDisplayName }}
                                    </td>
                                </tr>
                            </ng-template>
                        </p-table>
                        @if (primengTableHelper.totalRecordsCount == 0) {
                            <div class="primeng-no-data">
                                {{ 'NoData' | localize }}
                            </div>
                        }
                        <div class="ui-table-footer"></div>
                    </div>
                    <!--<Primeng-TurboTable-End>-->
                </div>
            </div>
        </div>
    </div>

    <createEditionModal #createEditionModal (modalSave)="getEditions()"></createEditionModal>
    <editEditionModal #editEditionModal (modalSave)="getEditions()"></editEditionModal>
    <moveTenantsToAnotherEditionModal #moveTenantsToAnotherEditionModal></moveTenantsToAnotherEditionModal>
</div>
