<div class="row justify-content-end pb-5">
    <div class="col">
        @if ('Pages.Administration.DynamicEntityProperties.Create' | permission) {
            <button class="btn btn-primary float-end" (click)="addNewDynamicEntityProperty()">
                <i class="fa fa-plus btn-md-icon"></i>
                <span class="d-none d-md-inline-block">
                    {{ 'AddNewDynamicEntityProperty' | localize }}
                </span>
            </button>
        }
    </div>
</div>
<div class="row align-items-center">
    <!--<Primeng-TurboTable-Start>-->
    <div class="col primeng-datatable-container" [busyIf]="primengTableHelper.isLoading">
        <p-table
            #dataTable
            (onLazyLoad)="getDynamicEntityProperties()"
            [value]="primengTableHelper.records"
            rows="{{ primengTableHelper.defaultRecordsCountPerPage }}"
            [paginator]="false"
            [lazy]="true"
            [tableStyle]="{ 'min-width': '50rem' }">
            <ng-template #header>
                <tr>
                    <th style="width: 100px"></th>
                    <th>{{ 'EntityFullName' | localize }}</th>
                </tr>
            </ng-template>
            <ng-template #body let-record="$implicit">
                <tr>
                    <td>
                        @if ('Pages.Administration.DynamicEntityProperties.Edit' | permission) {
                            <button class="btn btn-primary" (click)="gotoEdit(record.entityFullName)">
                                {{ 'Detail' | localize }}
                            </button>
                        }
                    </td>
                    <td>
                        {{ record.entityFullName }}
                    </td>
                </tr>
            </ng-template>
        </p-table>
        @if (primengTableHelper.totalRecordsCount == 0) {
            <div class="primeng-no-data">
                {{ 'NoData' | localize }}
            </div>
        }
    </div>
    <!--<Primeng-TurboTable-End>-->
</div>
<select-and-entity-modal #selectAnEntityModal (modalSave)="gotoEdit($event)" />
<manage-dynamic-entity-property-modal
    #manageDynamicEntityPropertyModalComponent
    (onPropertyChange)="getDynamicEntityProperties()" />
