@using Analision.Maui.Services.Navigation
@inherits AnalisionMainLayoutPageComponentBase

@attribute [Route("/" + NavigationUrlConsts.TenantDashboard)]
@inject IJSRuntime JS

<div class="card m-5">
    <div class="card-body p-4">
        <h6>Total Profit</h6>
        <canvas id="totalProfit" class="mh-200px"></canvas>
    </div>
</div>

<div class="card m-5">
    <div class="card-body p-4">
        <h6>Daily Sales</h6>
        <canvas id="dailySales" class="mh-200px"></canvas>
    </div>
</div>

<div class="card m-5">
    <div class="card-body p-4">
        <h6>Profit Share</h6>
        <canvas id="profitShare" class="mh-200px"></canvas>
    </div>
</div>