<div [@routerTransition]>
    <sub-header
        [title]="'VisualSettings' | localize"
        [description]="'UiCustomizationHeaderInfo' | localize"></sub-header>

    <div [class]="containerClass">
        <div class="card card-custom gutter-b">
            <div class="card-body">
                <tabset type="pills">
                    @for (themeSetting of themeSettings; track themeSetting) {
                        <tab [active]="themeSetting.theme == currentThemeName" customClass="pb-5">
                            <ng-template tabHeading>
                                <div class="theme-select-box">
                                    <img
                                        [src]="'/assets/common/images/metronic-themes/' + themeSetting.theme + '.png'"
                                        width="150"
                                        alt="theme{{ themeSetting.theme }}" />
                                    <span class="theme-name">{{ getLocalizedThemeName(themeSetting.theme) }}</span>
                                </div>
                            </ng-template>
                            @if (themeSetting.theme == 'default') {
                                <default-theme-ui-settings [settings]="themeSetting"></default-theme-ui-settings>
                            }
                            @if (themeSetting.theme == 'theme2') {
                                <theme2-theme-ui-settings [settings]="themeSetting"></theme2-theme-ui-settings>
                            }
                            @if (themeSetting.theme == 'theme3') {
                                <theme3-theme-ui-settings [settings]="themeSetting"></theme3-theme-ui-settings>
                            }
                            @if (themeSetting.theme == 'theme4') {
                                <theme4-theme-ui-settings [settings]="themeSetting"></theme4-theme-ui-settings>
                            }
                            @if (themeSetting.theme == 'theme5') {
                                <theme5-theme-ui-settings [settings]="themeSetting"></theme5-theme-ui-settings>
                            }
                            @if (themeSetting.theme == 'theme6') {
                                <theme6-theme-ui-settings [settings]="themeSetting"></theme6-theme-ui-settings>
                            }
                            @if (themeSetting.theme == 'theme7') {
                                <theme7-theme-ui-settings [settings]="themeSetting"></theme7-theme-ui-settings>
                            }
                            @if (themeSetting.theme == 'theme8') {
                                <theme8-theme-ui-settings [settings]="themeSetting"></theme8-theme-ui-settings>
                            }
                            @if (themeSetting.theme == 'theme9') {
                                <theme9-theme-ui-settings [settings]="themeSetting"></theme9-theme-ui-settings>
                            }
                            @if (themeSetting.theme == 'theme10') {
                                <theme10-theme-ui-settings [settings]="themeSetting"></theme10-theme-ui-settings>
                            }
                            @if (themeSetting.theme == 'theme11') {
                                <theme11-theme-ui-settings [settings]="themeSetting"></theme11-theme-ui-settings>
                            }
                            @if (themeSetting.theme == 'theme12') {
                                <theme12-theme-ui-settings [settings]="themeSetting"></theme12-theme-ui-settings>
                            }
                            @if (themeSetting.theme == 'theme13') {
                                <theme13-theme-ui-settings [settings]="themeSetting"></theme13-theme-ui-settings>
                            }
                        </tab>
                    }
                </tabset>
            </div>
        </div>
    </div>
</div>
